*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
.head-container{
  width: 100%;
  background-color: whitesmoke;
  position: sticky;
  top: 0;
  z-index: 20;
  
}
.chuks{
  font-style: Island Moments;
  color:#FF7A18;
}
.nav-container{
  width: 90%;
  background-color: whitesmoke;
  margin: auto;
  display: flex;
}
.logo-container{
  width: 23%;
  background-color: whitesmoke;
  margin: 1% ;
  /* padding: 1%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.pages-container{
  width: 58%;
  background-color: whitesmoke;
  margin: 1%;
  /* padding: 1%; */
  display: flex;
  justify-content: space-between;
  
}
.pages-container1{
  width: 23%;
  background-color: whitesmoke;
  margin: 1%;
  /* padding: 1%; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.pages-container1:hover{
  color:#FF7A18;
}
.pages-container2{
  width:8%;
  background-color: #FF7A18;
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #FFFFFF;
}
.burger{
    width: 15%;
    justify-content: center;
    align-items: center;
    display: none;
    filter: invert();
    
}
  #imageexist{
    width: 30%;
    filter: invert();
}
  .menuBurger {
    width: 30%;
    height: 80vh;
    background-color: #FF7A18;
    position: absolute;
    
    right: 40px;
   
    flex-direction: column;
    padding: 15px;
    display: flex;
    border-radius: 20px;
     z-index: 1000;
} 
.pages-container11{
   font-size: 20px;
    width: 80%;
    border: solid 1px black;
    /* background-color: black; */
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 3%;
    margin: 15px 1px 0px 50px;

} 
.pages-container21{
   font-size: 20px;
    width: 80%;
     border: solid 1px black;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 3%;
    margin: 15px 1px 0px 50px; 

}  
.overlay{
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 900;
}

.exit-btn{
    font-size: 8px;
    cursor: pointer;
    align-self: flex-end;
    border-radius: 50%;
    background-color:black
} 
#sec-con{
  width: 100%;
  
}
#sec1-div1{
  width: 100%;
  background-image: url(../public/hero.png);
  height: 90vh;
   background-repeat: no-repeat;
  background-size: cover;
}
#sec1-div1::before{
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.4);
  height: 100vh;
}

.secbox-container{
  width: 18%;
  background-color:#FF7A18;
  margin-left: 20px;
  padding: 1%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.secbox-container h4{
   z-index: 2;
   
}
.discover{
  color: #FFFFFF;
}
.heart{
  color: #FFFFFF;
  padding-top:15%;
  margin-left: 20px;
  font-size: 35px;
  font-weight: 900;
}
.passion{
  margin-left: 20px;
  color: #FFFFFF;
  font-size: 20px;
  
}
.food-category{
  width: 90%;
  background-color: lightgray;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
#hero_sec2{
  background-color: lightgray;
}

.food-category1{
  width: 31.33%;
  background-color: #FFFFFF;
  margin: 1%;
  /* padding: 1%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;

  
  
}
.food-categoryimg{
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  
  
}
.foot_cat_name{
  padding: 3rem;
  font-size: 20px;
}
.divclas{
  width: 90%;
  background-color: lightgray;
  margin: auto;
}
.divclass1{
  text-align: center;
  padding: 2%;
  background-color: lightgray;
}
.divclass13{
  background-color: lightgray;
}
#rice{
  height:50%;
}
#fishporr{
  height: 50%;
}

.chef-special{
  width: 100%;
  background-color: lightgray;
}
.chef-special1{
  width: 90%;
  background-color: lightgray;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.chef-special2{
  width: 31.33%;
  background-color: #FFFFFF;
  margin: 1%;
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.chef-cart{
   width: 100%;
   height: 50%;
  border-radius: 10px;
  object-fit: cover
}
.spicy{
  margin: 2%;
  color: #1F2937;
}
.chef-special22{
  width: 98%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.chef-special21{
  width: 33%;
  margin: 1%;
  padding: 2%;
}
#chef-addcart{
  background-color: #FF7A18;
  padding: 2%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #FFFFFF;
}



.footerdiv{
  background-image: url(../public/bean-stew.png);
  height:100vh;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.footerdiv::before{
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.8);
}
.sec{
  width: 100%;
 
}
.addition{
   color: white;
  padding-top:20%;
  margin-left: 20px;
  font-size: 40px;
  font-weight: 900;
}
.fresh{
  margin-left: 20px;
  color: #FFFFFF;
  font-size: 25px;
  
} 
.search{
  width: 90%;
  /* background-color: #FFFFFF; */
  margin: auto;
  
  display: flex;
  justify-content: center;
}
.search1{
  width: 78%;
  background-color: #FFFFFF;
  margin: 1%;
  margin-top: 10%;
  padding: 8px;
  display: flex;
  z-index: 2;
  position: relative;
  border-radius: 10px;
}
.searchicon{
  width: 20px;
}
.crave{
  margin-left: 15px;
  margin-top: 5px;
  font-size: 14px;
  color: #1F2937;
  font-weight: 600;
}
.secbox-container1{
  width: 18%;
  background-color:#FF7A18;
  margin: 1%;
  margin-left: 20px;
  padding: 1%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerdiv1{
  width: 100%;
  background-color: rgb(149, 72, 21);
  
}
.footerdiv11{
   width: 90%;
   background-color:  rgb(149, 72, 21);;
   margin: auto;
   display: flex;
}
.footerdiv2{
  width: 23%;
  background-color:  rgb(149, 72, 21);;
  margin: 1%;
  padding: 1%;
}
.footerdiv22{
  width: 78%;
  padding: 1%;
  margin: 1%;
}
.kitchen{
  font-style: italic;
  color: #FF7A18;
}
.links{
  color: grey;
}
.flavour{
  color: white;
}
.quick{
  color: white;
}
.copyright{
  width: 93%;
  background-color: rgb(149, 72, 21);
  margin: auto;
  display: flex;
  justify-content: space-between;
  
}
.copyright1{
  width: 48%;
  margin: 1%;
  
  font-size: 16px;
  color: #FFFFFF;
}
.copyright2{
  width: 6%;
  margin: 1%;
  background-color: #1E88E5 ;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  
}
.arrowimg{
  width: 80%;
  
}
.sec-login{
  width: 100%;
  background-color: lightgray;
}
.div-login{
  width: 90%;
  margin: auto;
  display: flex;
}
.div-login1{
 width: 60%;
 /* height: 100vh; */
 background-image: url(../public/bean-stew.png);
 background-repeat: no-repeat;
  background-size: cover;
 

 
}
.div-login2{
 width: 48%;
 background-color: whitesmoke;
 margin: 1%;
 padding: 1%;
}
.contiwith{
  width: 100%;
  text-align: center;
   color: #1F2937;
}
.div-login3{
  width: 88%;
  margin: 1%;
  padding: 5%;
  margin-top: 20%;
  margin-left: 5%;
}
.div-login4{
  width: 58%;
  margin: 1%;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.kitchen1{
  color: #FF7A18;
}
.login-acc{
  font-weight: 300;
}
.email{
  width: 98%;
  background-color: white;
  margin: auto;
  display: flex;
  border: solid 0.5px gray;
  border-radius: 5px;
}
.email1{
  width: 8%;
  margin: 1%;
  display: flex;
  
}
.number{
  margin: 5px;
   color: #3B4758;
}

.emailimg{
  width: 100%;
  object-fit: cover;
}
.input-email{
  width: 100%;
  margin-left: 5px;
  border: none;
  
}
.password{
  width: 98%;
  background-color: white;
  margin: auto;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  border: solid 0.5px gray;
  border-radius: 5px;
}
.password1{
  width: 42%;
  background-color: white;
  margin: 1%;
 
}
.password2{
  width: 8%;
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide{
  width:50%;
}
.passwordimg{
  width: 10%;
  margin: 1px;
}
.passwordkey{
  margin: 5px;
  
}
.forgot{
  width: 98%;
 
  margin: auto;
  display: flex;
  justify-content: flex-end;

}
.forgot1{
  width: 38%;
  font-size: 12px;
  margin: 1%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: #1E88E5;
}
.loginbtn{
  width: 98%;
  background-color: #FF7A18;
  margin: 1%;
  padding: 2%;
  color: #FFFFFF;
  border-radius: 5px;
  text-align: center;
}
.google{
  width: 98%;
  background-color: #FFFFFF;
  margin: 1%;
  padding: 1%;
  border: solid 1px gray;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.googleimg{
  width: 8%;
}
.facebook{
  width: 98%;
  background-color: #FFFFFF;
  margin: 1%;
  padding: 1%;
  border-radius: 5px;
  display: flex;
   border: solid 1px gray;
  justify-content: center;
}
.conti{
  margin-top: 8px;
  color: #3B4758;
  font-size: 12px;
}
.create{
  width: 98%;
  margin: 1%;
  display: flex;
  justify-content: center;
  font-size: 12px;
}
.createacc{
  color: #1E88E5;
}
.createacc1{
  color: #3B4758;
}
