*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
.head-container{
  width: 100%;
  background-color: whitesmoke;
  position: sticky;
  top: 0;
  z-index: 30;
  
}
.chuks{
  font-style: italic;
  color: orangered;
}
.nav-container{
  width: 90%;
  background-color: whitesmoke;
  margin: auto;
  display: flex;
}
.logo-container{
  width: 23%;
  background-color: whitesmoke;
  margin: 1% ;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pages-container{
  width: 58%;
  background-color: whitesmoke;
  margin: 1%;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  
}
.pages-container1{
  width: 23%;
  background-color: whitesmoke;
  margin: 1%;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.pages-container1:hover{
  color: orangered;
}
.pages-container2{
  width:13%;
  background-color: orangered;
  margin: 1%;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: white;
}
#sec-con{
  width: 100%;
  
}
#sec1-div1{
  background-image: url(../public/hero.png);
  height:100vh;
  
 
}

.secbox-container{
  width: 18%;
  background-color: orangered;
  margin: 2%;
  padding: 1%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.discover{
  color: white;
}
.heart{
  color: white;
  padding-top:15%;
  margin-left: 20px;
  font-size: 35px;
  font-weight: 900;
}
.passion{
  margin-left: 20px;
  color: white;
  font-size: 20px;
  
}
.food-category{
  width: 90%;
  background-color: lightgray;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
#hero_sec2{
  background-color: lightgray;
}

.food-category1{
  width: 31.33%;
  background-color: white;
  margin: 1%;
  /* padding: 1%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;

  
  
}
.food-categoryimg{
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  
  
}
.foot_cat_name{
  padding: 3rem;
}
.divclass{
  width: 90%;
  background-color: lightgray;
  margin: auto;
}
.divclass1{
  text-align: center;
  padding: 2%;
  background-color: lightgray;
}
.divclass13{
  background-color: lightgray;
}
#rice{
  height:100%;
}
#fishporr{
  height: 58%;
}

.chef-special{
  width: 100%;
  background-color: lightgray;
}
.chef-special1{
  width: 90%;
  background-color: lightgray;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.chef-special2{
  width: 31.33%;
  background-color: white;
  margin: 1%;
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.chef-cart{
   width: 100%;
   height: 90%;
  border-radius: 10px;
  object-fit: cover
}
.spicy{
  margin: 2%;
  color: gray;
}
.chef-special22{
  width: 98%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.chef-special21{
  width: 28%;
  margin: 1%;
  padding: 1%;
}
#chef-addcart{
  background-color: orangered;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
}



.footerdiv{
  background-image: url(../public/bean-stew.png);
  height:100vh;
  
}
.sec{
  width: 100%;
 
}
.addition{
   color: white;
  padding-top:20%;
  margin-left: 20px;
  font-size: 40px;
  font-weight: 900;
}
.fresh{
  margin-left: 20px;
  color: white;
  font-size: 25px;
  
}
.secbox-container1{
  width: 18%;
  background-color: orangered;
  margin: 2%;
  padding: 1%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerdiv1{
  width: 100%;
  background-color: #3b1f0f
  
}
.footerdiv11{
   width: 90%;
   background-color: #3b1f0f;
   margin: auto;
   display: flex;
}
.footerdiv2{
  width: 23%;
  background-color: #3b1f0f;
  margin: 1%;
  padding: 1%;
}
.footerdiv22{
  width: 78%;
  padding: 1%;
  margin: 1%;
}
.kitchen{
  font-style: italic;
  color: orangered;
}
.links{
  color: grey;
}
.flavour{
  color: white;
}
.quick{
  color: white;
}