*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
.sec-explore{
  width: 100%;
}
.div-explore{
  background-image: url(../public/chicken-rice.png);
  height: 100vh;
}
.chuks-kit{
  color: white;
  padding-top:15%;
  margin-left: 20px;
  font-size: 35px;
  font-weight: 900;
}
.chuks-kits{
   margin-left: 20px;
  color: white;
  font-size: 20px;
}
.dropdownsec{
  background-color: lightgray;
}
.dropdown{
    position: relative;
    width: 280px;
    margin-left: 80px;
}
.dropdown-btn{
    background: white;
    border:none;
    padding:15px;
    font-size:20px;
    font-weight:600;
    color:#555;
    cursor:pointer;
    width:100%;
    text-align:left;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.08);
}


.dropdown-content{
    display:none;
    background:white;
    flex-direction: column;
    margin-top:10px;
    border-radius:15px;
    padding:15px 0;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.dropdown-content a{
    display:block;
    padding:14px 20px;
    text-decoration:none;
    color:#666;
    font-size:18px;
    position:relative;
    transition:0.3s;
}

.dropdown-content a:hover{
    background:#f8f8f8;
    color:black;
}

.dropdown-content a.active::before{
    content:"";
    position:absolute;
    left:0;
    top:8px;
    height:70%;
    width:4px;
    background:#f57c00;
    border-radius:4px;
}
.dropdown:hover .dropdown-content{
    display:block;
}
.sec-popular{
  background-color: lightgray;
}
.popular{
  margin-left: 80px;
  font-size: 30px;
  font-weight: 900;
}
.popular-exp{
  width: 100%;
  background-color: lightgray;
}
.popular-exp1{
  width: 90%;
  background-color: lightgray;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.popular-exp2{
  width: 31.33%;
  background-color: white;
  margin: 1%;
  border-radius: 10px;
  
}
.chikimg{
  width: 100%;
 border-radius: 10px;
 object-fit: cover;

}
.jollof{
  margin: 15px;
  font-size: 20px;
}
.jollofchik{
  margin: 15px;
}
.popularexp3{
  width: 98%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.popularexp31{
  width: 28%;
 
  margin: 1%;
}
#expo{
  width: 8%;
 text-align: center;
 border-radius: 20px;
  background-color: orangered;
}
#amout{
  margin: 5px;
  color: orangered;
}
#signs{
  filter: invert();
  font-size:25px;
}
#chikimg{
  height: 60%;
}
.sec-order{
  width: 100%;
}
.cart{
  margin-left: 65px;
  font-size: 20px;
  font-weight:900 ;
  margin-top: 18px;
}
.div-order{
  width: 90%;
  background-color: white;
  margin: auto;
  display: flex;
  border: solid 1px gray;
}
.div-order1{
  width: 48%;
  margin: 1%;
  padding: 1%;
  display: flex;
  
}
.rice{
  margin-left: 10px;
  margin-top: 15px;
}
.pepper{
  font-size: 14px;
  color: gray;
}
.div-order2{
  width: 23%;
  margin: 1%;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-order3{
  width: 23%;
  margin: 1%;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chin-img{
  width: 90px;
  height: 60px;
  border-radius: 10px;
  object-fit: cover;
}
.btn{
  width: 8%;
  background-color: #666;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.btn1{
  width: 8%;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.btn2{
  width: 8%;
  background-color: #666;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.btn3{
  width: 28%;
  margin: 1%;
  padding: 1%;
  color: orangered;
}
.btn4{
  width: 8%;
  background-color: orangered;
  margin: 1%;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
input{
  width: 68%;
  margin-left: 60px;
  padding: 1%;
  border-radius: 5px;
  border: solid 1px grey;
}
.code{
  margin-left: 65px;
  font-size: 16px;
  
}
button{
  width: 21%;
  background-color: orangered;
  margin: 1%;
  padding: 1%;
  border-radius: 5px;
  border: none;
  color: white;
}
.summary{
  width: 94%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.summary1{
  width: 28%;
  margin: 1%;
  padding: 1%;
}
.summary2{
  width: 18%;
  margin: 1%;
  padding: 1%;
  text-align: end;
}
.summary11{
  width: 28%;
  margin: 1%;
  padding: 1%;
  font-size: 18px;
  font-weight: 900;
}
.summary21{
  width: 18%;
  margin: 1%;
  padding: 1%;
  font-weight: 900;
  text-align: end;
}
.summary22{
  width: 98%;
  margin-left: 60px;
  display: flex;
}
.summary23{
  width: 46%;
  background-color: #f57c00;
  padding: 1%;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  color: white;
}
.summary24{
  width: 46%;
  background-color: lightgray;
  padding: 1%;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  color: white;
}
.special-ins{
  margin-left:60px;
  font-size: 22px;
 
}
.tasty{
   width: 91%;
   margin-left: 55px;
   padding: 1%;
  resize: vertical;
  
}
.summary3{
  width: 91%;
  background-color: #f57c00;
  margin-left: 53px;
  border-radius: 5px;
  padding: 1%;text-align: center;

}



