*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
}
.sec-explore{
  width: 100%;
  background-color: lightgray;
}
.div-explore{
  width: 100%;
  background-image: url(../public/bean-stew.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.div-explore::before{
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.8);
}
.div-explore p,p{
  position: relative;
  z-index: 1;
}
.chuks-kit{
  color: #FFFFFF;
  padding-top:15%;
  margin-left: 20px;
  font-size: 35px;
  font-weight: 900;
}
.chuks-kits{
   margin-left: 20px;
  color: #FFFFFF;
  font-size: 20px;
}
.dropdownsec{
  background-color: lightgray;
}
.dropdown{
    position: relative;
    width: 280px;
    margin-left: 80px;
}
.dropdown-btn{
    background: white;
    border:none;
    padding:15px;
    font-size:20px;
    font-weight:600;
    color:#555;
    cursor:pointer;
    width:100%;
    text-align:left;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.08);
}


.dropdown-content{
    display:none;
    background:white;
    flex-direction: column;
    margin-top:10px;
    border-radius:15px;
    padding:15px 0;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.dropdown-content a{
    display:block;
    padding:14px 20px;
    text-decoration:none;
    color:#666;
    font-size:18px;
    position:relative;
    transition:0.3s;
}

.dropdown-content a:hover{
    background:#FFFFFF;
    color:black;
}

.dropdown-content a.active::before{
    content:"";
    position:absolute;
    left:0;
    top:8px;
    height:70%;
    width:4px;
    background:#FF7A18;
    border-radius:4px;
}
.dropdown:hover .dropdown-content{
    display:block;
}
.sec-popular{
  background-color: lightgray;
}
.popular{
  margin-left: 80px;
  font-size: 30px;
  font-weight: 900;
}
.popular-exp{
  width: 100%;
  background-color: lightgray;
}
.popular-exp1{
  width: 90%;
  background-color: lightgray;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.popular-exp2{
  width: 31.33%;
  background-color: #FFFFFF;
  margin: 1%;
  border-radius: 10px;
  
}
.chikimg{
  width: 100%;
  height: 50%;
 border-radius: 10px;
 object-fit: cover;

}
.jollof{
  margin: 15px;
  font-size: 20px;
  color: #1F2937;
}
.jollofchik{
  margin: 15px;
  color: #1F2937;
}
.jollofchik2{
  margin: 10px;
  color: #1F2937;
}
.jollofchik4{
  margin: 15px;
  color: #1F2937;
}
.jollofchik1{
  margin: 25px;
  color: #1F2937;
}
.popularexp3{
  width: 98%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}
.popularexp31{
  width: 28%;
 
  margin: 1%;
}
#expo{
  width: 8%;
 text-align: center;
 border-radius: 20px;
  background-color: #FF7A18;
}
#amout{
  margin: 5px;
  color:#FF7A18;
}
#signs{
  filter: invert();
  font-size:25px;
}
#chikimg{
  height: 50%;
}
.sec-order{
  width: 100%;
}
.cart1{
  width: 90%;
  margin: auto;
  font-size: 22px;
  font-weight: 900;
}
.code11{
  width: 90%;
 
  margin: auto;
  padding: 1px;font-size: 20px;
}
.div-order{
  width: 90%;
  height: 100%;
  /* background-color: #FF7A18; */
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 0.5px grey;
}
.div-order1{
  width: 18%;
  /* background-color: #666; */
  margin: 5px;
}
.orederimg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.div-order2{
  width: 78%;
  height: 40%;
  padding: 5px;
  /* background-color: aqua; */
  /* margin: 25px; */
  display: flex;
  padding: 5px;
}
.jollof-rice{
  font-size: 20px;
  /* margin: 5px; */
}
.extra{
  color: lightgray;
  /* margin: 5px; */
}
.div-order3{
  width: 48%;
  /* height: 50%; */
  /* background-color: blanchedalmond; */
  /* margin: 1px; */
}
.div-order4{
  width: 58%;
  height: 40%;
  /* background-color: brown; */
  margin: 1px;
  display: flex;
  justify-content: space-around;
}
.div-order5{
  width: 98%;
  /* background-color: red; */
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
}
.addsigns{
  width: 10%;
  margin: 5px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.delete{
  width: 10%;
  margin: 5px;
  padding: 1px;
  background-color: #FF7A18;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.delete2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.delete3{
  display: flex;
  justify-content: center;
  align-items: center;

  
}
.promo{
  width: 100%;
  
}
.button{
  width: 91%;
  margin: auto;
}
#code{
  width: 68%;
  margin: 1px;
  padding: 1%;
  border: solid 0.5px grey;
  border-radius: 5px;
}
button{
  width: 31%;
  padding: 1%;
  background-color: #FF7A18;
  border: none;
  border-radius: 5px;
}


.summary{
  width: 92%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.summary1{
  width: 28%;
  margin: 1%;
  /* padding: 1%; */
}
.summary2{
  width: 16%;
  margin: 1%;
  /* padding: 1%; */
  text-align: end;
}
.summary11{
  width: 28%;
  margin: 1%;
  /* padding: 1%; */
  font-size: 18px;
  font-weight: 900;
}
.summary21{
  width: 18%;
  margin: 1%;
  /* padding: 1%; */
  font-weight: 900;
  text-align: end;
}
.summary22{
  width: 100%;

  
}
.summary-delivery{
  width: 90%;
  margin: auto;
  display: flex;
}
.summary23{
  width: 50%;
  background-color: #FF7A18;
  padding: 1%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  font-size: 18px;
  color: #FFFFFF;
}
.summary24{
  width: 50%;
  background-color: lightgray;
  padding: 1%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  font-size: 18px;
  color: #FFFFFF;
}
.special-ins1{
  width: 90%;
  
  margin: auto;
  font-size: 20px;
}

.textareadiv{
  width: 100%;
}
.textareadiv1{
  width: 90%;
  margin: auto;
}
.tasty{
  width: 100%;
  resize: vertical;
  padding: 5px;
  margin: 1px;
  margin-top: 5px;
  
}
.checkout{
  width: 100%;
}
.checkout1{
  width: 90%;
  margin: auto;
}
.summary3{
  width: 100%;
  background-color: #FF7A18;
  margin: 1px;
  padding: 1%;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;

}
.sec-account{
  width: 100%;
  margin: auto;
  padding: 1%;
  
}
.payment1{
 width: 90%;
 margin: auto;
 font-size: 22px;
 font-weight: 900;
}
.pay1{
  width: 90%;
  margin: auto;
 
}
.div-account{
  width: 90%;
  margin: auto;
  display: flex;
 
}
.div-account1{
  width: 31.33%;
  margin: 1%;
  padding: 1%;
  display: flex;
}
.card{
  margin-top: 3px;
  margin-left: 8px;
}
.cardimg{
  margin-left: 8px;
}
.cardpay1{
   width: 90%;
   margin: auto;
}
.inputcard1{
  width: 90%;
  
  margin: auto;
}
.input-card{
  width: 100%;
  margin: 1px;
  padding: 1%;
  border-radius: 5px;
 

}
.div-card{
  width: 93%;
  margin: auto;
  display: flex;
}
.div-card1{
  width: 50%;
  
  padding: 1%;
}
.div-card2{
  width: 50%;
  
  padding: 1%;
}
.expire{
  width: 98%;
  margin: 1%;
  padding: 2%;
}
.expiredate0{
  width: 90%;
  margin: auto;
  display: flex;
}
.expiredate1{
  width: 48%;
  padding: 1px;
  margin: 1px;
}
.expire2{
  width: 92%;
  margin: auto;
  display: flex;
}
.expire22{
  width: 48%;
  margin: 1%;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px grey;
  
}
.expire23{
  width: 48%;
  margin: 1%;
  padding: 5px;
  border-radius: 5px;
   border: solid 1px grey;
  
}
.time{
  width: 100%;
  padding: 1%;
}
.div-save{
  width: 93%;
  margin: auto;
  display: flex;
  
}
.save{
  margin-left: 15px;
  color: gray;
}
.frame{
  margin-left: 18px;
}
.div-payment1{
  width: 90%;
  margin: auto;
  background-color:#FF7A18;
 
  padding: 1%;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 900;
}
.data{
  width: 95%;
  margin: auto;
  font-size: 14px;
}
