/* nest hub max */
@media  screen and (max-width: 1280px){
    

}
/* nest hub */
@media  screen and (max-width: 1024px){
   #eba{
    font-size: 16px;
   }
   .jollofchik1{
   margin-top: 10px;
   }
   #spice{
    margin-left: 20px;
    margin-bottom: 25px;
   }
   #soup{
     margin-left: 20px;
    margin-bottom: 25px;
   }

}
/* surface pro 7 */
@media  screen and (max-width: 912px){
    #chikimg{
        height: 150px;
    }
    .jollof{
        font-size: 16px;
    }
    #snail1{
        font-size: 18px;
    }
    .jollofchik{
        font-size: 14px;
    }
    #expo{
        width: 12%;
    }
    .jollofchik1{
        /* margin-top: 45px; */
        font-size: 14px;
         margin-left: 10px;
    }
    .jollofchik2{
        margin-top: 45px;
        font-size: 14px;
         margin-left: 10px;
    }
    .jollofchik4{
        
        font-size: 14px;
        margin-left: 10px;
    }
    .flavour{
        font-size: 15px;
    }
    .discover{
        font-size: 12px;
    }
    #fishporr{
        height: 170px;
    }
    .chef-cart{
        height: 170px;
        
    }
    .search{
        margin-top: 65%;
    }
    .fresh{
        font-size: 20px;
    }
    #adds{
        margin-right: 20%;
    }
    .delete3{
       margin-right: 30%;   
     }
     .delete2{
        margin-right: 50%;
     }
     input{
        width: 58%;
        
        
     }
     
     .div-login{
        flex-direction: column;
     }
     .div-login2{
        width: 98%;
     }
     .login-acc{
        font-size: 20px;
     }
    
    
    .smoked{
        font-size: 15px;
    }
    .rice{
        font-size: 16px;
    }
    .expire{
        margin-left: 15px;
    }
    .expire-date{
        margin-left: 15px;
    }
    .cvv{
         margin-left: 15px;
    }

}
/* for ipad air */
@media  screen and (max-width: 820px){
 
    
}
/* for ipad mini */
@media  screen and (max-width: 768px){
    #chef-addcart{
        font-size: 16px;
    }
    .jollof{
        font-size: 14px;
    }
    #eba{
        font-size: 13px;
    }
    .jollofchik{
        font-size: 14px;
    }
    #chik4{
        font-size: 12px;
    }
    #chikimg{
        height: 120px;
    }
    .chikimg{
        height: 120px;
    }
    .jollofchik2{
        margin-top: 10px;
    }
    .jollofchik{
        font-size: 12px;
    }
   

}
/* for surface duo */
@media  screen and (max-width: 540px){
    .chuks{
        font-size: 16px;
    }
    .burger{
        display: flex;
      margin-left: 60%;
    }
    .pages-container{
        display: none;
    }
    .pages-container2{
        display: none;
    }
    #hero_sec2{
        flex-direction: column;
    }
    .food-category1{
        width: 98%;
    }
    .chef-special{
        flex-direction: column;
    }
    .chef-special2{
        width: 98%;
    }
    #fishporr{
        height:65%;
    }
    .chef-cart{
        height: 65%;
    }
    .kitchen{
        font-size: 12px;
    }
    .flavour{
        font-size: 12px;
    }
    .quick{
        font-size: 14px;
    }
    .foot_cat_name{
        font-size: 20px;
    }
    .soup1{
        font-size: 20px;
    }
    .spicy{
        font-size: 18px;
    }
    #chef-addcart{
        font-size: 25px;
    }
    .heart{
        font-size: 40px;
    }
    .popular-exp{
        flex-direction: column;
    }
    .popular-exp2{
        width: 98%;
    }
    #chikimg{
        height: 65%;
    }
    .jollof{
        font-size: 20px;

    
    }
    .jollofchik{
        font-size: 14px;
    }
    .div-order1{
        width: 180px;
        height: 150px;
       
        
    }
    .orederimg{
        width: 100%;
        height: 100%;
    }
    .div-order2{
        flex-direction: column;
    }
    .div-order3{
        width: 98%;
    }
    .div-order4{
        flex-direction: column;
    }
    .div-order4{
        width: 98%;
    }
    .menuBurger{
        width: 50%;
    }
    .discover{
        font-size: 12px;
        /* padding: 5%; */
        
    }
    .secbox-container{
        width: 28%;
        padding: 2%;
    }
    .secbox-container1{
        width: 28%;
        padding: 2%;
    }
    .copyright1{
        width: 48%;
    }
    
        
}  

/* for iphone 14 promax*/
@media  screen and (max-width: 430px){
    .menuBurger{
        width: 70%;
    }
    .discover{
        font-size: 10px;
    }
    .search1{
        margin-top:92%;
    }
    
    .chuks{
        font-size: 13px;
    }
    .kitchen{
        font-size: 8px;
        
    }
    .heart{
        font-size: 28px;
    }
    #sec1-div1{
        height: 69%;
    }
    .fresh{
        font-size: 15px;
    }
    #chikimg{
        height: 50%;
    }
    .chikimg{
        height: 50%;
    }
    .flavour{
        font-size: 10px;
    }
    .quick{
        font-size: 10px;
    }
    .links{
        font-size: 10px;
    }
    .jollof-rice{
        font-size: 18px;
    }
   
}

/* for iphone XR*/
@media  screen and (max-width: 414px){
    
    .search1{
        margin-top:91%;
    }
}
/* for Samsug galaxy s20 ultra*/
@media  screen and (max-width: 412px){
    .search1{
        margin-top:98%;
    }

}
@media  screen and (max-width: 393px){

}
/* for iphone 12 pro*/
@media  screen and (max-width: 390px){
    .search1{
        margin-top:86%;
    }
    .chuks{
        font-size: 12px;
    }
     .jollof-rice{
        font-size: 16px;
    }


}
/* for iphone X*/
@media  screen and (max-width: 375px){
   

}
/* for samsung galaxy s8+*/
@media  screen and (max-width: 360px){
    .login-acc{
        font-size: 16px;
    }
    .chuks{
        font-size: 11px;
    }
    .quick{
        font-size: 8px;
    }
    .flavour{
        font-size: 8px;
    }
    .links{
        font-size: 9px;
    }
    .jollof-rice{
        font-size: 13px;
    }
     }
    .extra{
        font-size: 12px;
    }
    .copyright1{
        font-size: 10px;
    }
    


/* for galaxy z fold 5*/
@media  screen and (max-width: 344px){
    
    .kitchen{
        font-size: 7px;
    }
    .jollof-rice{
        font-size: 13px;
    }
    .extra{
        font-size: 12px;
    }
    .copyright1{
        font-size: 10px;
    }

}
/* for iphone 5/se*/
@media  screen and (max-width: 320px){

}
@media  screen and (max-width: 280px){

}
