/* nest hub max */
@media  screen and (max-width: 1280px){
    

}
/* nest hub */
@media  screen and (max-width: 1024px){
   #eba{
    font-size: 16px;
   }
   .jollofchik1{
   margin-top: 10px;
   }
   #spice{
    margin-left: 20px;
    margin-bottom: 25px;
   }
   #soup{
     margin-left: 20px;
    margin-bottom: 25px;
   }

}
/* surface pro 7 */
@media  screen and (max-width: 912px){
    #chikimg{
        height: 150px;
    }
    .jollof{
        font-size: 16px;
    }
    #snail1{
        font-size: 18px;
    }
    .jollofchik{
        font-size: 14px;
    }
    #expo{
        width: 12%;
    }
    .jollofchik1{
        /* margin-top: 45px; */
        font-size: 14px;
         margin-left: 10px;
    }
    .jollofchik2{
        margin-top: 45px;
        font-size: 14px;
         margin-left: 10px;
    }
    .jollofchik4{
        
        font-size: 14px;
        margin-left: 10px;
    }
    .flavour{
        font-size: 15px;
    }
    .discover{
        font-size: 14px;
    }
    #fishporr{
        height: 170px;
    }
    .chef-cart{
        height: 170px;
        
    }
    
    
    .smoked{
        font-size: 15px;
    }
    .rice{
        font-size: 16px;
    }
    .expire{
        margin-left: 15px;
    }
    .expire-date{
        margin-left: 15px;
    }
    .cvv{
         margin-left: 15px;
    }

}
/* for ipad air */
@media  screen and (max-width: 820px){
 
    
}
/* for ipad mini */
@media  screen and (max-width: 768px){
    #chef-addcart{
        font-size: 16px;
    }
    .jollof{
        font-size: 14px;
    }
    #eba{
        font-size: 13px;
    }
    .jollofchik{
        font-size: 14px;
    }
    #chik4{
        font-size: 12px;
    }
    #chikimg{
        height: 120px;
    }
    .chikimg{
        height: 120px;
    }
    .jollofchik2{
        margin-top: 10px;
    }
    .jollofchik{
        font-size: 12px;
    }
   

}
/* for surface duo */
@media  screen and (max-width: 540px){
    .chuks{
        font-size: 16px;
    }
    .pages-container{
        display: flex;
    }
    .pages-container2{
        display: none;
    }
    #hero_sec2{
        flex-direction: column;
    }
    .food-category1{
        width: 98%;
    }
    .chef-special{
        flex-direction: column;
    }
    .chef-special2{
        width: 98%;
    }
    #fishporr{
        height:65%;
    }
    .chef-cart{
        height: 65%;
    }
    .kitchen{
        font-size: 12px;
    }
    .flavour{
        font-size: 12px;
    }
    .quick{
        font-size: 14px;
    }
    .foot_cat_name{
        font-size: 20px;
    }
    .soup1{
        font-size: 20px;
    }
    .spicy{
        font-size: 18px;
    }
    #chef-addcart{
        font-size: 25px;
    }
    .heart{
        font-size: 50px;
    }
    .popular-exp{
        flex-direction: column;
    }
    .popular-exp2{
        width: 98%;
    }
    #chikimg{
        height: 65%;
    }
    .jollof{
        font-size: 20px;

    
    }
    .jollofchik{
        font-size: 14px;
    }
    .div-order2{
        flex-direction: column;
    }
    .div-order3{
        width: 98%;
    }
    .div-order4{
        flex-direction: column;
    }
    .div-order4{
        width: 98%;
    }
    
    
        
}  

/* for iphone 14 promax*/
@media  screen and (max-width: 430px){
    
   
}

/* for iphone XR*/
@media  screen and (max-width: 414px){
    
    
}
/* for Samsug galaxy s20 ultra*/
@media  screen and (max-width: 412px){


}
@media  screen and (max-width: 393px){

}
/* for iphone 12 pro*/
@media  screen and (max-width: 390px){
    


}
/* for iphone X*/
@media  screen and (max-width: 375px){
   

}
/* for samsung galaxy s8+*/
@media  screen and (max-width: 360px){
   
    

}
/* for galaxy z fold 5*/
@media  screen and (max-width: 344px){
    
    

}
/* for iphone 5/se*/
@media  screen and (max-width: 320px){

}
@media  screen and (max-width: 280px){

}
